* {
    margin: 0px;
    padding: 0px;
    font-family: serif;
/* border: 1px solid red; */
}

.section1 {
    background-image: url(img/section1bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.section2 {
    background-color: #00A650;
    height: 1200px;
}

.section3 {
    background-color: #f2f2f2;
    height: 1200px;
}

nav {
    background-color: rgb(26, 24, 32);
    z-index: 3;
}

.navbar {
    height: 100px;
    background-color: #000000b3;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom:  0%;
}

.navlogo {
    width: 451px;
    height: 70px;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
}

.navlogo>img {
    height: 45px;
    width: 135px;
    background-repeat: no-repeat;
    margin: 10px 0px 12px auto;

}

.navlink {
    text-align: right;

}

.navlogo>a {
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
    text-align: left;
    font-family: sans-serif;
}

.navlink>i {
    font-size: x-large;
    background: #ffffff08;
    padding: 10px;
    border-radius: 100%;


}

.intro {
    justify-content: center;
    width: 1000px;
}

.right {
    width: 50%;
}

.right>h3 {
    color: #ffffff4d;
    font-size: 20px;
    margin: 27px 0px 16px;
    font-family: sans-serif;
}

.right>h1 {
    color: #ffffff;
    font-size: 60px;
    padding: 32px 0px 0px;
    font-weight: bolder;
}

.right>input {
    background-color: #00a650;
    color: #ffffff;
    margin: 80px 0px 0px;
    padding: 0px 32px;
    width: 300px;
    height: 9vh;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    outline: none;
    border: none;


}

.left {
    width: 880px;
    height: 550px;
}

.left>img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 0px 0px 0px 50px;

}

.navlogo>a:hover {
    color: #00a650;
    transition: 0.5s ease-in-out;
}

.navlink>i:hover {
    cursor: pointer;
    background-color: #00a650;
    border-radius: 100px;
}

.main {
    margin: 0px 0px 20px;
    padding: 10px;
}

.textbox {
    margin: 40px 0px 50px 0px;
}

.abouttext {
    height: 1200px;
}

.text1>h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 50px;
    margin: 0px 0px 40px;
    padding: 40px 0px 0px 0px;
}

.text1>p {
    color: #ffffffb3;
    margin: 0px 0px 36px;
    font-size: 20px;
    font-family: sans-serif;
}

.text2>h1,
h2 {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}

.text2>h2 {
    font-weight: bold;
}

.text2>p {
    color: #ffffffcc;
    text-transform: capitalize;
    font-size: 17px;
    font-family: sans-serif;
}

.section2p1 {
    background-color: #ffffff;
    height: 1050px;
}

.about2 {
    color: #000000;
    margin: 120px 0px 20px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 45px;

}

.works {
    height: 600px;
}

.box1 {
    padding: 10px;
    font-family: sans-serif;
}

.box1>p,
h3 {
    font-family: sans-serif;
}

.app1 {
    height: 680px;
    width: 290px;
    object-fit: cover;
}

.app2 {
    margin: 0px 0px 0px 5px;
    height: 800px;
    object-fit: contain;
}

.app3 {
    height: 200px;
    object-fit: contain;
}

.laptopapp1 {
    width: 470px;
    height: 770px;
    object-fit: contain;
    padding: 0px;

}

.laptopapp2 {

    height: 605px;
    object-fit: contain;
}

.laptopapp3 {
    height: 120px;
    object-fit: contain;
}

.img1 {
    height: 470px;
    width: 700px;
    margin: 0px;
    padding: 0px;
}

.sec3text>h2 {
    padding: 50px 0px 0px;
    margin: 0px 0px 0px;
    color: #000000;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 40px;
}

.sec3text>h1 {
    padding: 132px 0px 0px;
    margin: 0px 0px 35px;
    color: #000000;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 55px;
}

.sec3text>p {
    margin: 0px 0px 35px;
    font-size: 26px;
    color: #00000080;
    text-transform: capitalize;
    font-weight: lighter;
    font-family: sans-serif;
}

.Featuretext1>i {
    display: inline;
}

.user {
    text-transform: capitalize;
}

.user>img {
    border-radius: 2000px;
    height: 80px;
    width: 150px;
    margin: 5px 0px 0px;

}

.user>p {
    text-align: left;
    margin: 10px 10px 10px;
}

#utext {
    color: #00a650;
    font-weight: bolder;
    font-size: 15px;
    font-family: sans-serif;
}

#ulink {
    color: #00000066;
    font-size: 14px;
    text-decoration: none;
    font-family: sans-serif;
}

#ubio {
    font-size: 17px;
    color: #000000b3;
    font-family: sans-serif;
}

#itext {
    font-size: 26px;
    color: #000000;
    font-family: sans-serif;
    margin: 0px 0px 20px;
    font-weight: bold;
}
.ip,.p1{
   color: #000000b3; 
   font-size: 16px;
   font-family: sans-serif;
}
.btext {
    background-color: #00A650;
    color: #ffffff;
    width: 80px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 20px;
}

.pricetext>h1 {
    padding: 192px 0px 0px;
    margin: 0px 0px 40px;
    color: #000000;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 60px;
}

.pricetext>p {
    color: #00000080;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 26px;
    margin: 0px 0px 36px;
    font-family: sans-serif;
}

.pgtextbox {
    border-radius: 5px;
    background-color: #00A650;
    height: 470px;
    width: 350px;
    margin: 0px 0px 40px 0px;
    padding: 50px 40px 48px 40px;
}

.pgtextbox>h3 {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px 0px 16px;
    font-family: sans-serif;
}

.pgtextbox>p {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 54px;
    font-family: sans-serif;
}

.pgtextbox>ul {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0px 0px 0px 8px;
    font-family: sans-serif;
}

.pgtextbox>input {
    height: 55px;
    width: 80%;
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 0px auto 20px;
    padding: 0px 32px;
    font-family: sans-serif;

}

#pmonth {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 15px;
    margin: 0px 0px 4px;
    font-family: sans-serif;
}

.ptextbox {
    border-radius: 5px;
    background-color: #ffffff;
    height: 470px;
    width: 350px;
    margin: 0px 0px 40px 0px;
    padding: 50px 40px 48px 40px;
}

.ptextbox>h3 {
    color: #000000;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px 0px 16px;
    font-family: sans-serif;
}

.ptextbox>p {
    color: #000000;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 54px;
    font-family: sans-serif;
}

.ptextbox>ul {
    color: #000000;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0px 0px 0px 8px;
    font-family: sans-serif;
}

.ptextbox>input {
    height: 55px;
    width: 80%;
    color: #ffffff;
    background-color: #00a650;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 0px 0px 20px;
    padding: 0px 32px;
    font-family: sans-serif;
}

#pmont {
    color: #000000;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 15px;
    margin: 0px 0px 4px;
    font-family: sans-serif;
}

.section5 {
    height: 650px;
    background-color: #00a040;
    padding: 0px 0px 0px;

}

.dbox {
    margin: 0px 70px;
    padding: 0px 0px 0px;

}

.dleft>h1 {
    color: #ffffff;
    font-size: 45px;
    margin: 0px 0px 30px;
    font-weight: bolder;
}

.dleft>p {
    color: #ffffffcc;
    font-size: 15px;
    margin: 0px 0px 30px;
    font-weight: lighter;
    font-family: sans-serif;
}

.dleft>img {
    width: 230px;
    height: 70px;
    margin: 10px 0px 0px 15px;
}

.dright>img {
    object-fit: contain;
    height: 540px;
    width: 100%;
}

.section6 {
    height: 800px;
    width: 100%;
    background-color: rgb(18, 22, 25);
    padding: 150px 0px 100px;
}

.ltext {
    padding: 0px 40px 0px 20px;

}

.ltext>h1 {
    font-size: 45px;
    color: #00a605;
    margin: 0px 0px 16px;
    font-weight: bolder;
}

.ltext>p {
    font-size: 26px;
    color: #ffffff4d;
    margin: 0px 0px 36px;
    height: 80px;
    width: 520px;
    font-weight: lighter;
}

.o {
    text-transform: capitalize;
    font-size: 17px;
    width: 360px;
    height: 60px;
    padding: 16px 140px 16px 32px;
    margin: 70px 0px 20px;
    background-color: rgb(25, 29, 32);
    border: none;
    outline: none;
    color: #ffffff;
}

.i {
    padding: 0px 20px 0px 24px;
    margin: 0px 0px 16px;
    width: 140px;
    height: 60px;
    background-color: #00a605;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 5px;
}

.ltext2 {
    padding: 0px 20px;
}

.ltext2>img {
    width: 135px;
    height: 15px;
    margin: 0px 0px 10px;
}

.ltext2>p {
    font-size: 17px;
    margin: 0px 0px 32px;
    color: #ffffff66;
    font-family: sans-serif;
}

.ltext2>i {
    font-size: x-large;
    background-color: rgb(25, 29, 32);
    padding: 10px;
    border-radius: 100%;
    margin: 0px 0px 10px;
}

.ltext2>i:hover {
    cursor: pointer;
    background-color: #00A650;
    border-radius: 100%;
}

.ltext3 {
    padding: 0px 20px;
}

.ltext3>a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    margin: 0px 0px 0px 15px;
}

.fp {
    margin: 64px 0px 32px;
    color: #ffffff66;
    font-size: 17px;
}

p {
    color: #ffffff66;
    font-size: 17px;
}

.lletter {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

.email {
    color: #00A650;
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
    margin: 0px 0px 0px 5px;
}

.lletter:hover {
    color: #00a650;
    transition: 0.5s ease-in-out;
}

.ltext3>a:hover {
    color: #00a650;
    transition: 0.5s ease-in-out;
}

.email:hover {
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
.email:focus{
    color: #ffffff;
}

@media(max-width:1199px) {
    .section5 {
        height: 1000px;
        background-color: #00A650;
    }

    .dbox {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(max-width:991px) {
    .section3 {
        height: 1800px;
        background-color: #f2f2f2;
    }

    .section5 {
        height: 1020px;
        background-color: #00A650;
    }


}

@media(max-width:767px) {
    .section3 {
        height: 2050px;
        background-color: #f2f2f2;
    }

    .section5 {
        height: 1200px;
        background-color: #00A650;
    }
    .section6{
        background-color: rgb(18, 22, 25);
        height: 1100px;
    }
    .i{
        width: 100%;
        background-color: #00A650;
    }
    .o{
        background-color: rgb(25, 29, 32);
        width: 100%;
    }
}

@media(max-width:561px) {
    .section2p1 {
        height: 1150px;
        background-color: #ffffff;
    }
}

@media(max-width:565px) {
    .section5 {
        height: 1150px;
        background-color: #00A650;
    }
}

@media(max-width:561px) {
    .section2 {
        height: 1280px;
        background-color: #00A650;
    }

    .section5 {
        height: 1250px;
        background-color: #00A650;
    }
}

@media(max-width:551px) {
    .section2 {
        height: 1290px;
        background-color: #00A650;
    }
}

@media(max-width:547px) {
    .section2 {
        height: 1400px;
        background-color: #00A650;
    }
}

@media(max-width:512px) {
    .section2 {
        height: 1450px;
        background-color: #00A650;
    }
}

@media(max-width:509px) {
    .section3 {
        height: 2390px;
        background-color: #f2f2f2;
    }
}

@media(max-width:499px) {
    .section1 {
        height: 800px;
        background-image: url(img/section1bgimg.jpg);
    }
}
@media(max-width:477px) {
    .section6 {
        height: 1200px;
        background-color: rgb(18, 22, 25);
    }
}
@media(max-width:448px) {
    .section2 {
        height: 1550px;
        background-color: #00A650;
    }
}

@media(max-width:420px) {
    .section2p1 {
        height: 1220px;
        background-color: #ffffff;
    }
}

@media(max-width:412px) {
    .section3 {
        height: 2520px;
        background-color: #f2f2f2;
    }
}

@media(max-width:390px) {
    .section2 {
        height: 1650px;
        background-color: #00A650;
    }
}
@media(max-width:377px) {
    .section6 {
        height: 1300px;
        background-color: rgb(18, 22, 25);
    }
}
@media(max-width:368px) {
    .navlogo {
        display: none;
    }
}

@media(max-width:364px) {
    .section3 {
        height: 2820px;
        background-color: #f2f2f2;
    }
}

@media(max-width:351px) {
    .section3 {
        height: 2920px;
        background-color: #f2f2f2;
    }

}

@media(max-width:339px) {
    .section3 {
        height: 3120px;
        background-color: #f2f2f2;
    }

}

@media(max-width:331px) {
    .section3 {
        height: 3220px;
        background-color: #f2f2f2;
    }

}

@media(max-width:322px) {
    .section3 {
        height: 3320px;
        background-color: #f2f2f2;
    }

}

@media(max-width:344px) {
    .section2 {
        height: 1716px;
        background-color: #00A650;
    }

}

@media(max-width:325px) {
    .section1 {
        height: 1000px;
        border-image: url(img/section1bgimg.jpg);
    }

    .section2 {
        height: 1740px;
        background-color: #00A650;
    }
}

@media(max-width:324px) {
    .section2 {
        height: 2100px;
        background-color: #00A650;
    }
}

@media(max-width:336px) {
    .section2p1 {
        height: 1300px;
        background-color: #ffffff;

    }

}